<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="style.default">dark</entry>
	<entry key="libreoffice.home">C:/Program Files (x86)/LibreOffice 5/program</entry>
	<entry key="libreoffice.cmd">soffice.exe</entry>
	<entry key="json.data.setup.dir">dbsetup</entry>
	<entry key="json.data.users">user-list</entry>
	<entry key="json.data.jobs">job-list</entry>
	<entry key="db.data.job.setup">true</entry>
	<entry key="main.account.name">uli</entry>
	<entry key="thymeleaf.template">templates/anschreiben.xhtml</entry>
</properties>
